.box2{
    background-color: rgb(232, 212, 228);
    width: 4 00px;
    height: 300px;
    padding:200px 630px;
}
.bg-pink{
    background-color: rgb(229, 213, 224);
}
.bg-bluee{
    background-color: rgb(213, 216, 229);
}
.bg-orj{
    background-color: rgb(240, 215, 180);
}
.bg-orj2{
    background-color: rgb(246, 237, 231);
}